#jcart *{margin:0;padding:0;font-family:arial, tahoma, verdana, sans-serif;}
#jcart, #jcart input, #jcart-tooltip{font-size:12px;}
#jcart fieldset{border:0;}
#jcart-error{text-align:center;padding:5px;color:#f00;}
#jcart table, #modal_cart table{width:100%;border:0;border-collapse:collapse;}
#jcart thead, tfoot{background-color:#856d55;background-color:rgba(134,110,86,0.5);background-color:transparent \9;-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc856d55, endColorstr=#cc856d55)";-webkit-box-shadow:0 2px 3px rgba(0,0,0,0.2);-moz-box-shadow:0 2px 3px rgba(0,0,0,0.2);box-shadow:0 2px 3px rgba(0,0,0,0.2);border-top:1px solid rgba(255,255,255,0.2);}
#jcart-title{}
#jcart tbody{}
#jcart tfoot{}
#jcart tr{}
#jcart th, #modal_cart th{}
#jcart th, #jcart td, #modal_cart th, #modal_cart td{padding:5px;border:0;border:solid 1px #ccc;vertical-align:middle;text-align:left;font-weight:normal;}
#jcart-empty{text-align:center;}
.jcart-item-qty{width:25%;}
#jcart .jcart-item-name{width:50%;font-weight:bold;}
#jcart .jcart-item-price{width:25%;font-weight:bold;text-align:right;}
.jcart-remove{font-size:11px;font-weight:normal;}
#jcart-subtotal{display:block;}
#jcart-subtotal strong{}
#jcart-buttons input{padding:2px;margin:2px;}
#jcart-checkout{float:right;padding:2px;}
#jcart-paypal-checkout{display:block;width:14em;padding:10px;margin:20px auto;}
#jcart-tooltip{display:none;position:absolute;padding:3px 7px 3px 25px;background:url(../images/checkmark.png) 3px center no-repeat #fdfdfd;border:1px solid #a6c9e2;z-index:9999;}
#order{margin:10px 0;}
#jcart #order p{margin:0 0 10px;}
#jcart #order input.input{width:200px;}
#jcart #order input{font-size:100%;vertical-align:middle;padding:2px 3px;}
#jcart #order textarea{width:40%;font-size:100%;vertical-align:middle;padding:3px 2px;}
#jcart #order input.float-input{width:120px;}
#jcart a.checkout_button{padding:5px;text-decoration:none;color:#fff;font-size:120%;background:#dc625d;border-radius:7px;-webkit-border-radius:7px;-moz-border-radius:7px;}
#jcart a.checkout_button:hover{background:#d9261d;}
.attention{color:#f00;}
.striked{text-decoration:line-through;}
.small{font-size:80%;}
#jcart input#cart-order-checkout{display:block;width:200px;padding:10px;margin:20px auto;}
#jcart #physical-invoice, #jcart #juridical-invoice{background:#fff;padding:5px 10px;margin:10px 0;}
#jcart #payment_info p, #jcart #delivery_info p{background:#d9edf7;padding:10px;}
#jcart #delivery_info p, #jcart #payment_info p{display:none;}
.f-left{float:left;}
.f-left-img{float:left;padding:3px;}
.f-right{float:right;}
.f-center{margin-left:auto;margin-right:auto;display:block;}
.t-left{text-align:left;}
.t-right{text-align:right;}
.t-center{text-align:center;}
.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0;}
.clearfix:after{clear:both;content:' ';display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0;}
.clearfix{display:inline-block;}
* html .clearfix{height:1%;}
.clearfix{display:block;}
#simplemodal-overlay{background-color:#aaa;cursor:wait;}
#simplemodal-container a.modalCloseImg{background:url('../images/x.png') no-repeat;width:25px;height:29px;display:inline;z-index:3200;position:absolute;top:-15px;right:-15px;cursor:pointer;}
#simplemodal-container #basicModalContent{padding:8px;}
.simplemodal-data{background-color:#fff;height:auto;border:0px;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;-moz-box-shadow:0 2px 10px #999999;-webkit-box-shadow:0 2px 8px #999;box-shadow:0 2px 8px black;width:600px;}