#editor-0 {
  margin: 1px;
}

#editor-0 input {
display:inline;
}

 #editor-0 .editor-text-button {
  font-size: 11px;
  font-weight: bold;
  background-color: #fff;
  color: #444;
  text-align: center;
}

 #editor-0 .editor-text-button,
 #editor-0 .editor-image-button,
#editor-help .editor-text-button,
#editor-help .editor-image-button {
  margin: 0;
  border: 1px solid #ccc;
  padding: 0;
  height: 16px;
  width: 16px;
  cursor: pointer;
}
 .sep {
  margin:0 4px;
}
#editor-0 .editor-text-button:hover,
#editor-0 .editor-image-button:hover,
#editor-help .editor-text-button:hover,
#editor-help .editor-image-button:hover {
  border-color: #ffcc66;
}
#editor-0 .stay-clicked {
  border-color: #f00;
}

#editor-help {
  width: 400px;
  background-color: #fff;
}

#editor-dialog.editor-popup {
  z-index: 10;
  position: absolute;
  border: 1px solid #000;
  font: 12px verdana;
  width: auto;
  text-align: left;
  background-color: #999;
}
#editor-dialog tr.head {
  border-top: 1px solid #000;
  cursor: move;
}
#editor-dialog td.titl {
  font-size: 1.1em;
  font-weight: bold;
  margin:0;
}
#editor-dialog td.close {
  font-weight: bold;
  text-align: right;
  padding-right: 4px;
}
#editor-dialog td.close a {
  cursor: pointer;
  font-size: 1.3em;
  color:#000;
}
#editor-dialog td.close a:hover {
  text-decoration: none;
}
#editor-dialog tbody {
  border: none;
}

#editor-1 {
  margin: 1px;
}

#editor-1 input {
display:inline;
}

 #editor-1 .editor-text-button {
  font-size: 11px;
  font-weight: bold;
  background-color: #fff;
  color: #444;
  text-align: center;
}
#editor-1 .editor-text-button,
#editor-1 .editor-image-button,
#editor-help .editor-text-button,
#editor-help .editor-image-button {
  margin: 0;
  border: 1px solid #ccc;
  padding: 0;
  height: 16px;
  width: 16px;
  cursor: pointer;
}
#editor-1 .editor-text-button:hover,
#editor-1 .editor-image-button:hover,
#editor-help .editor-text-button:hover,
#editor-help .editor-image-button:hover {
  border-color: #ffcc66;
}
#editor-1 .stay-clicked {
  border-color: #f00;
}