/*---------------------------------------------
---	 Responsive design behavior         ---
---         Maximenu CK                     ---
----------------------------------------------*/

@media screen and (max-width: 524px) {
    div.maximenuckh {
        height: auto !important;
    }

    div.maximenuckh ul {
        height: auto !important;
        padding-left: 0 !important;
        /*padding-right: 0 !important;*/
    }

    div.maximenuckh li {
        float :none !important;
        width: 100% !important;
        padding-right: 0 !important;
        margin-right: 0 !important;
    }

    div.maximenuckh li > div.floatck {
        width: 100% !important;
		/*position: relative !important;
		display: none;
		height: auto !important;*/
    }

    div.maximenuckh div.floatck div.maximenuck2 {
        /*width: 100% !important;*/
    }

    div.maximenuckh div.floatck div.floatck {
        width: 100% !important;
        margin: 20px 0 0 0 !important;
    }

    div.maximenuckh li.maximenucklogo img {
        display: block !important;
        margin-left: auto !important;
        margin-right: auto !important;
        float: none !important;
    }
}

