h1{font-size:200%;text-align:center;font-weight:normal;}
#rt-mainbody h2{font-size:160% !important;text-align:center;font-weight:normal;}
h3, h4, h5, h6{font-size:160%;text-align:center;font-weight:normal;margin:30px 0;}
h2{font-size:1.9em !important;}
div.kontactBlock div{margin-bottom:10px;}
div.contakty img.contactImg{float:left;margin:0 40px 40px 0;}
div.contakty h2{margin-bottom:25px;}
div.contakty h3{width:300px;margin:auto;margin-bottom:25px;font-size:1.3em;font-weight:normal;}
.clear{clear:both;}
div.contakty .Ofis{margin-bottom:25px;padding-bottom:25px;border-bottom:1px solid #ccc;}
div.contakty .frame{float:right;}
iframe{border:1px solid #888;}
a.forma{font-size:1.2em;text-decoration:underline;margin-left:15px;}
a.forma:hover{color:#000 !important;text-decoration:none;}
div.svyaz-wrapper img.contactImg{width:70px;height:90px;margin-top:-30px;margin-right:10px}
div.box4-width{width:1155px;}
a.sigProDownloadLink, div.pp_social{display:none;}
.VWrapper .line{border-bottom:1px solid #ccc;margin-bottom:15px;padding-bottom:15px;}
.VWrapper h2{font-size:1.2em;}
.VWrapper h3{font-size:1.1em;}
div.blocks div.sprocket-mosaic-wrap{}
div.blocks div.sprocket-mosaic-text{}
.zayavka{width:320px !important;margin-left:380px;z-index:100;}
.zamer{width:320px !important;margin-left:160px;}
.zayavka_biblioteki{width:320px;margin-left:380px;z-index:100;}
.zamer_biblioteki{width:320px;margin-left:160px;}
div.garazh div.sprocket-mosaic-text{font-size:113%;font-weight:bold;}
div a.readmore span{font-weight:normal;}
div.sideMenu{line-height:30px;font-size:14px;}
div.sideMenu span, div.sideMenu a strong{font-size:13px;color:#fff;text-shadow:1px 1px #333;}
div.sideMenu span.margin{margin-left:-5px;}
div.sideMenu span a{color:#fff;}
div.sideMenu li a{color:#eee !important;}
div.sideMenu li a:hover{color:#3f250d !important;}
div.sideMenu p{line-height:20px;}
div.sideMenu .color{color:#fff !important;}
div.sideMenu strong.color:hover{color:#3f250d !important;}
div.sideMenu .color strong:hover{color:#3f250d !important;}
div.sideMenu ul{list-style-type:none;margin-left:6px;}
div.sideMenu ul li{margin-bottom:2px;}
.similar-products p{text-align:left;}
.underline{text-decoration:underline;}
.margin-top{margin-top:20px;padding-left:285px;}
.margin-top1{margin-top:15px;padding-left:190px;}
.img-balkon{float:left;}
.top-fone{float:right;margin-bottom:0;padding-bottom:0;margin-top:0;padding-top:0;position:relative;}
div.customtop-fone{margin-bottom:-20px;}
div.hederFone{position:relative;top:30px;}
div.hederFone p.time{margin-bottom:0 !important;margin-top:0;}
div.hederFone p.pfone{font-size: 24px;
    font-weight: bold;
    /* text-shadow: #111 1px 0px, #111 1px 1px, #111 0px 1px, #111 -1px 1px, #111 -1px 0px, #111 -1px -1px, #111 0px -1px, #111 1px -1px; */
    color: #fff;
text-align: right;}
p.readmore{background-color:#ff9911 !important;border-color:#ff9922 !important;float:right;}
p.readmore a{color:#fff !important;}
p.readmore:hover{background-color:#95704c !important;border-color:#745f4a !important;}
span.rt-arrow-pointer{display:none !important;}
div.sprocket-features-content h2.sprocket-features-title{font-size:190%;}
div.sprocket-features-content p{text-align:left;}
.left{float:left;margin-right:15px;margin-bottom:15px;}
.right{float:right;margin-left:15px;margin-bottom:15px;}
table{text-align:center;}
table.category{text-align:left;}
.banner1{height:152px;}
.sprocket-features-desc{margin:20px 0 10px 0 !important;}
div#calcForm div#raschet label{display:inline;}
div.qflink{display:none;}
[data-icon]:before{font-family:'N'!important;content:attr(data-icone)!important;speak:none!important;}
div#korzina{width:250px;position:fixed;right:5px;top:5px;cursor:move;z-index:500;}
table.korzina input[type = "text"]{width:10px;height:10px;margin-bottom:0;padding:4px;}
div.showHide span{float:right;cursor:pointer;}
div.showHide a:hover{color:#fff;float:right;}
div.deliveryMethod, div.payMethod, div.lastPrice{border:1px solid #ccc;padding:15px !important;margin-top:25px !important;border-radius:8px;}
div.lastPrice{margin-bottom:40px !important;}
div.lastPrice h4{font-size:18px;}
#full_sum{color:#f00;}
.formH3{font-size:18px;font-weight:bold;}
.marg{width:99px;display:block;float:left;}
.labTitle{font-weight:bold;}
td.jcart-item-price input{width:45px;}
a.jcart-remove:hover{color:#fff;}
div.korzina_wrapper{position:absolute !important;background:none !important;border:none !important;box-shadow:none !important;}
.main_cektion{float:left;margin-right:15px;}
.polok{font-size:15px;font-weight:bold;}
ul.rt-demo-footer-menu{margin:0 0 0 10px;}
div.info{background:#d9edf7;border-color:#bce8f1;color:#3a87ad;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;padding:15px;font-weight:bold;border:1px solid;margin:0 0 15px 0;}
.table{margin-bottom:10px;}
.table th, .table td{padding:4px;border-top:none;vertical-align:middle;}
.table tr.info{border-radius:10px;}
.table tr td:last-child{border-radius:0 5px 5px 0;}
.table tr td:nth-child(7){border-radius:5px 0 0 5px;}
div.info h3{line-height:1px;margin:10px 0 20px 0;}
div#jcart p label.block{display:block;}
div#jcart label{display:inline;}
.katalogImg{float:left;margin:0 20px 15px 0;width:220px;}
ul.myMenu{float:right;list-style-type:none;margin:15px 0 15px 0}
ul.myMenu li{float:left;margin-left:40px;font-size:20px;}
ul.myMenu li a{color:#DDDDDD;text-shadow:1px 1px 1px rgba(0,0,0,0.7);padding-top:20px;padding-bottom:20px;}
ul.myMenu li span{color:#DDDDDD;text-shadow:1px 1px 1px rgba(0,0,0,0.7);padding-top:20px;padding-bottom:20px;display:block;}
ul.myMenu li span:hover{color:#fff;text-shadow:1px 1px 1px rgba(0,0,0,0.7);padding-top:20px;padding-bottom:20px;display:block;cursor:pointer;}
.imgBlog{float:left;margin-right:25px;width:230px;height:300px;}
table.korzina td, table.korzina th{text-align:center !important;}
a.underline{text-decoration:underline;}
.boxWrapper{margin-bottom:30px;}
.boxWrapper h1{margin-bottom:40px;}
.boxWrapper hr{border-top:1px solid #bce8f1;}
.boxWrapper .pPrice{margin-right:50px;float:left;font-size:20px;}
.boxWrapper .pPrice span{color:#05A205;}
.boxWrapper input:not([type="submit"]){width:10px;margin-bottom:0;}
.boxWrapper label{display:inline;}
.imgWrapper{float:left;width:50%;margin-left:20px;}
.textWrapper{float:right;width:45%;}
div.characteristics{border:1px solid #bce8f1;padding:10px;box-shadow:2px 2px 10px #bce8f1;border-radius:8px;}
p.pPrice{margin-top:5px;}
div.slogan{width:40%;margin-top:-50px;margin-bottom:0;padding-bottom:0;}
div.slogan p{text-align:center;text-shadow:#555 1px 0px, #555 1px 1px, #555 0px 1px, #555 -1px 1px, #555 -1px 0px, #555 -1px -1px, #555 0px -1px, #555 1px -1px;font-size:21px;}
div.customslogan{border:1px solid #fff;padding-top:10px;margin-top:-10px;background-color:#856d55;background-color:rgba(134,110,86,0.5);background-color:transparent \9;-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc856d55, endColorstr=#cc856d55)";-webkit-box-shadow:0 2px 3px rgba(0,0,0,0.2);-moz-box-shadow:0 2px 3px rgba(0,0,0,0.2);box-shadow:0 2px 3px rgba(0,0,0,0.2);margin-top:-40px;}
iframe#cloudim_chat{border:none;}
div.im_footer a{display:none !important;}
div.im_footer{color:#fff;}
div.rt-push-2{left:0;}
div.imgWrapper img{margin-top:45px;}
p#pSend{font-size:18px;color:#fff;text-align:center;margin-top:15px;text-shadow:1px 1px 5px #777;}
p#pSend2{font-size:18px;color:#fff;text-align:center;margin-top:15px;text-shadow:1px 1px 5px #777;}
div#LP h1{font-size:30px;text-shadow:2px 2px 2px #ccc;margin-bottom:45px;}
div#headerBlock{width:40%;float:right;margin-bottom:50px;background-image:url(http://m-arhiv.ru/images/lp/fon.jpg);background-position:top center;background-repeat:repeat;border-radius:8px;padding:15px 15px 15px 25px;box-shadow:1px 1px 10px #fbb307;margin-right:20px;}
div#headerBlock h2{font-size:21px;line-height:25px;}
div#headerBlock h3{color:#fff;text-shadow:1px 1px 5px #777;font-size:25px;margin:5px;}
div#pWrapper{width:130px;float:right;border:1px solid #fff;border-radius:8px;padding:10px 5px 5px 5px;}
p.freeHour{font-size:18px;font-weight:bold;text-align:center;color:#a50000}
ul.ofer{list-style-type:none;list-style-image:url(http://m-arhiv.ru/images/lp/marker.png);font-size:17.4px;}
div#zayavkaWrapper{border:#fff solid 1px;border-radius:8px;width:320px;padding:0 10px;text-align:center;margin:35px auto 10px auto;}
form#ajaxform input[type="text"]{width:225px;color:#666;}
form#ajaxform input[type="submit"]{padding:7px 14px;width:240px;margin:0 auto;}
div.whyBlock{width:29%;margin-right:14px;margin-bottom:30px;float:left;border:1px solid #ccc;border-radius:8px;box-shadow:2px 2px 10px #ccc;padding:9px;}
div.whyBlock img{float:left;margin-right:15px;}
div.whyBlock p.title{color:#555;font-size:20px;text-align:left;margin-top:5px;margin-bottom:10px;}
div.whyBlock p.p{text-align:left;}
div#mainWrapper h2.proizvodstvo{font-size:25px;margin-bottom:35px;}
div#mainWrapper h2.reasons{font-size:25px;margin:40px 0 35px 0;}
div#mainWrapper ul{list-style-type:none;font-size:17.4px;margin-left:5px;}
div.otziviWrapper{margin-bottom:30px;padding-top:25px;}
div.otziviWrapper h2{font-size:25px !important;margin-bottom:35px;}
div#otzivi{width:820px;margin:0 auto;}
div#otzivi a img{margin-right:15px;border:1px solid #ccc;width:185px;}
div#LPfoter{background:url(http://m-arhiv.ru/images/lp/background.png) top left no-repeat;background-size:840px;width:840px;height:280px;margin-left:auto;margin-right:auto;}
div#LPfoter div.padding{padding:20px;margin:0 auto;}
div.padding h3{font-size:22px;margin:5px;}
div#collUs{width:200px;margin:10px 15px 15px 35px;float:left;}
p.zvonitePishite{font-size:21px;}
div#collUs p.foneNumber{font-size:20px;color:#35428f;font-weight:bold;}
div#zakazZvonka{width:500px;margin:10px 15px 15px 15px;float:right;}
div.blokLib{width:835px;margin:0 auto;}
div.blokLib div.wrapp{width:220px;padding:15px;box-shadow:1px 1px 2px #ccc;text-align:center;margin:0 25px 25px 0;float:left;}
div.blokLib div.wrapp img{width:220px;height:245px;margin-bottom:15px;}
div.blokLib div.wrapp div.name{height:40px;}
html{margin-bottom:0;}
div.logo-block{margin-top: 15px;}
.dlyaBalkona{margin-bottom:40px;}
.dlyaBalkona img{width:150px;padding:10px;border:1px solid #ccc;margin:30px 15px;}
.dShinImg{height:330px;margin:0 25px;padding:5px;}
.syImg{height:380px;margin:0 30px;}
.marginBottom{margin:30px 0 35px 0;}
.elementsWrap{width:20%;float:left;margin-right:25px;height:255px;overflow:hidden;}
.elementsWrap figure{margin:0;}
.elementsWrap figure img{margin-bottom:15px;}
.elementsWrap figure figerecaption{font-size:1em;font-style:italic;}
.elementsWrap figure figerecaption p{margin:0;}
.elementColor{color:#3a87ad;}
.skladskieImg{float:left;margin:0 15px;width:250px;}
.charBlock{float:right;width:550px;}
.WaCblock{margin-top:40px;border:1px solid #ff9911;padding:20px;border-radius:8px;box-shadow:2px 2px 10px #ccc;}
.weight{width:40px;float:left;margin:0 15px;}
.weightText{margin:10px;font-style:italic;}
.weightColor{color:#ff9911;}
hr{margin:40px 0;}
.proizvodstvoImg{border:1px solid #ccc;padding:8px;margin-right:15px;width:29%;}
.alementImg{border:#ccc 1px solid;height:190px;margin:20px 20px 0 20px;}
.alementImgST{border:#ccc 1px solid;height:220px;margin:30px 20px 0 10px;}
.elementsWrap:nth-child(4){margin-right:0;}
.priceWrapper{overflow:hidden;max-height:150px;transition:max-height 2s;min-height:0;padding-bottom:25px;}
.open{max-height:1000px;transition:max-height 3s;}
.afterBtn{background-image:url(http://m-arhiv.ru/images/melochi/panel.png);background-repeat:no-repeat;position:relative;top:-44px;height:100px;margin-bottom:-50px;}
.afterBtnUp{background-image:url(http://m-arhiv.ru/images/melochi/panelUp.png);background-repeat:no-repeat;position:relative;top:-44px;height:100px;margin-bottom:-50px;}
.worningBlock{margin-top:30px;padding:20px;border:1px solid #ff9911;border-radius:8px;box-shadow:2px 2px 10px #ccc;color:#f00;text-align:center;}
.kontactBlock{width:400px;float:left;margin-bottom:70px;}
.contactRightBlock{width:400px;float:right;}
#breadcrumb{margin-bottom:25px;}
.crumbs3{display:block;}
.crumbs3 li{display:inline;}
.crumbs3 li.first{padding-left:8px;}
.crumbs3 li a, .crumbs3 li a:link, .crumbs3 li a:visited{color:#666;display:block;float:left;font-size:12px;margin-left:-13px;padding:5px 17px 11px 25px;position:relative;text-decoration:none;}
.crumbs3 li a{background-image:url('http://m-arhiv.ru/images/melochi/bg-crumbs-blue.png');background-repeat:no-repeat;background-position:100% 0;position:relative;}
.crumbs3 li a:hover{color:#333;background-position:100% -48px;cursor:pointer;}
.crumbs3 li a:active{color:#333;background-position:100% -96px;}
.crumbs3 li.first a span{height:29px;width:3px;border-left:1px solid #d9d9d9;position:absolute;top:0px;left:0px;}
.crumbs3 li:hover ~ li{opacity:0.5;}
.crumbs3li:hover ~ li + li{opacity:0.2;}
.titleR span span, .titleR a span{text-shadow:none;text-decoration:underline !important;color:#3C250D !important;font-size:18px;}
div.sideBarMenu{padding:10px;border:1px solid #fff !important;background-color:rgba(134,110,86,0.5) !important;}
div.arhivnie img{width:120px;margin:10px 5px;padding:5px;}
.arhivnieStWrapper{float:left;}
.act{color:#000 !important;background-color:#F4F4F4 !important;border-radius:5px !important;text-shadow:none !important;background:-moz-linear-gradient(top, #F4F4F4, #EEEEEE);background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#F4F4F4), to(#EEEEEE));border:1px solid #777777;}
.clr{clear:both;}
.bigSize a span{font-size:18px;}
div#maximenuck{font-size:14px;line-height:21px;text-align:left;}
div#maximenuck ul.maximenuck{overflow:visible !important;display:block !important;float:none !important;visibility:visible !important;opacity:1 !important;list-style:none;margin:0 auto;min-height:43px;}
div#maximenuck ul.maximenuck li.maximenuck.level1{background:none;list-style:none;border:1px solid transparent;display:block;text-align:left;padding:0 0 0 0;margin-right:5px !important;margin-top:1px !important;}
div#maximenuck ul.maximenuck li.maximenuck.level1:hover,
div#maximenuck ul.maximenuck li.maximenuck.level1.active{border:1px solid #777777;background:#F4F4F4;background:-moz-linear-gradient(top, #F4F4F4, #EEEEEE);background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#F4F4F4), to(#EEEEEE));-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
div#maximenuck ul.maximenuck li.maximenuck.level1 > a,
div#maximenuck ul.maximenuck li.maximenuck.level1 > span.separator{font-size:15px;color:#EEEEEE;display:block;text-decoration:none;text-shadow:1px 1px 1px #333;outline:none;background:none;border:none;padding:0;white-space:normal;padding:2px 0 2px 6px;}
div#maximenuck ul.maximenuck li.maximenuck.level1:hover > a span.titreck,
div#maximenuck ul.maximenuck li.maximenuck.level1.active > a span.titreck,
div#maximenuck ul.maximenuck li.maximenuck.level1:hover > span.separator,
div#maximenuck ul.maximenuck li.maximenuck.level1.active > span.separator{color:#161616;text-shadow:1px 1px 1px #ffffff;}
.kategory-main{background:none;border:none;box-shadow:none !important;background-color:transparent !important;border-top:none !important;margin-top:50px;padding:0;}
.kategory-main ul{margin:0;}
ul.block{margin:0;}
.tabs{margin:0;padding:0;zoom:1;}
.tabs li{float:left;list-style:none;padding:0;margin:0;}
.tabs a{display:block;text-decoration:none;padding:3px 5px;background-color:#ff9911;margin-right:3px;border:1px solid #ff9911;border-radius:5px 5px 0 0;margin-bottom:-1px;color:#fff;}
.tabs .active{border-bottom:1px solid white;background-color:white;color:#000;position:relative;}
.panelContainer{clear:both;margin-bottom:25px;border:1px solid #ff9911;background-color:white;padding:10px;}
.panel h2{text-shadow:none;}
.panel p{color:black;}
.mn{color:#fff !important;font-style:italic;}
.sprocket-features-img-container img{height:367px;border:1px solid #fff !important;}
div.sprocket-features-content{background-color:rgba(134,110,86,0.5) !important;border:1px solid #fff !important;}
.figureBlock{width:350px;float:left;}
.figureBlock img{margin-bottom:15px;}
.figureBlock figcaption{text-align:justify;}
p{text-align:justify;}
figure.elements figerecaption p{text-align:left;}
div.itemPadding{padding:0 10px 10px 10px;}
div.portfolio-item{box-shadow:3px 3px 8px #474747;}
table#otzyvy td h2{font-size:140% !important;text-align:left;}
table#otzyvy td img{border:1px solid #777;}
body{min-width:1200px !important;}
div.imWrapper figure figcaption{background:#fff;}
div.imWrapper figure.figurItem{width:220px;float:left;margin:0 20px 0 0;border:1px solid #e7edf1;border-radius:5px;box-shadow:3px 3px 8px #474747;}
ul.allItem li .coll h2{text-align:left !important;color:#fff;text-decoration:underline;}
ul.allItem li .coll p{color:#fff;}
div.imWrapper figure figcaption p{font-size:13px;color:#777 !important;text-align:center;margin:0;}
div.imgWrapper img.sgrImg{margin-top:0;}
.portalUslug{margin-top:-100px;}
div.delivery{background:#DFF0D8;border-color:#D6E9C6;color:#468847;border-radius:6px;padding:15px;border:1px solid;margin-bottom:25px;}