#jcemediabox-popup-frame{padding:20px 10px;}
#jcemediabox-popup-container{background-color:#ffffff;}
#jcemediabox-popup-loader{background:url(../img/loader.gif) no-repeat center center;}
#jcemediabox-popup-content{padding:10px;background-color:#ffffff;}
#jcemediabox-popup-info-top{line-height:20px;padding:0px 0px 5px 0px;color:#ffffff;}
#jcemediabox-popup-info-bottom{background-color:#ffffff;min-height:30px;padding:0 0 10px 0;}
#jcemediabox-popup-closelink{width:66px;height:30px;background:url(../img/close.gif) no-repeat center left;bottom:0px;right:10px;position:relative;float:right;border:none;font-size:16px;color:#676767;text-transform:uppercase;line-height:30px;padding-left:22px;vertical-align:middle;font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;}
#jcemediabox-popup-closelink:hover, #jcemediabox-popup-closelink:visited:hover{text-decoration:none;}
#jcemediabox-popup-prev, #jcemediabox-popup-next{width:25%;height:75%;background-image:url(data:image/gif;);z-index:10003;position:absolute;top:25%;font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;}
#jcemediabox-popup-prev{left:10px;}
#jcemediabox-popup-next{right:10px;}
#jcemediabox-popup-prev:hover, #jcemediabox-popup-prev:visited:hover{background:url(../img/prev.gif) no-repeat left top;}
#jcemediabox-popup-next:hover, #jcemediabox-popup-next:visited:hover{background:url(../img/next.gif) no-repeat right top;}
span#jcemediabox-popup-numbers{color:#666666;display:block;padding:0 0 0 10px;text-align:left;}
#jcemediabox-popup-caption{padding:0px 35px 0px 10px;min-height:20px;}
#jcemediabox-popup-caption h4, #jcemediabox-popup-caption p{color:#666666;}
#jcemediabox-popup-caption h4 a:active, #jcemediabox-popup-caption p a:active,
#jcemediabox-popup-caption h4 a:hover, #jcemediabox-popup-caption p a:hover,
#jcemediabox-popup-caption h4 a:visited, #jcemediabox-popup-caption p a:visited,
#jcemediabox-popup-caption h4 a, #jcemediabox-popup-caption p a{color:#666666;font-weight:bold;text-decoration:none;}
#jcemediabox-popup-caption h4{}
#jcemediabox-popup-caption p{}
div.jcemediabox-tooltip{color:#4d4d4d;border:0;background:none;}
div.jcemediabox-tooltip h4{color:#4d4d4d;}
div.jcemediabox-tooltip .jcemediabox-tooltip-top-left{background:url(../img/tip-tl.png) no-repeat top left;clear:both;}
div.jcemediabox-tooltip .jcemediabox-tooltip-top-right{background:url(../img/tip-tr.png) no-repeat top right;}
div.jcemediabox-tooltip .jcemediabox-tooltip-top-center{background-color:#ffffff;height:4px !important;margin:0 4px;overflow:hidden;border-top:1px solid #4d4d4d;}
div.jcemediabox-tooltip .jcemediabox-tooltip-middle-left{clear:both;background-color:#ffffff;border-left:1px solid #4d4d4d;}
div.jcemediabox-tooltip .jcemediabox-tooltip-middle-right{background-color:#ffffff;border-right:1px solid #4d4d4d;}
div.jcemediabox-tooltip .jcemediabox-tooltip-middle-center{margin:0 4px;background-color:#ffffff;}
div.jcemediabox-tooltip .jcemediabox-tooltip-bottom-left{background:transparent url(../img/tip-bl.png) no-repeat bottom left;}
div.jcemediabox-tooltip .jcemediabox-tooltip-bottom-center{background-color:#ffffff;height:4px !important;margin:0 4px;overflow:hidden;border-bottom:1px solid #4d4d4d;}
div.jcemediabox-tooltip .jcemediabox-tooltip-bottom-right{background:transparent url(../img/tip-br.png) no-repeat bottom right;}
#jcemediabox-popup-page.ie6 #jcemediabox-popup-frame{padding:20px 10px 10px;}
#jcemediabox-popup-page.ie6 #jcemediabox-popup-info-bottom{width:100%;}
#jcemediabox-popup-page.ie6 #jcemediabox-popup-prev, #jcemediabox-popup-next{margin-right:-1px;}
#jcemediabox-popup-page.ie6 div.jcemediabox-tooltip .jcemediabox-tooltip-top-left{background:url(../img/tip-tl.gif) no-repeat top left;}
#jcemediabox-popup-page.ie6 div.jcemediabox-tooltip .jcemediabox-tooltip-top-right{background:url(../img/tip-tr.gif) no-repeat top right;}
#jcemediabox-popup-page.ie6 div.jcemediabox-tooltip .jcemediabox-tooltip-bottom-left{background:transparent url(../img/tip-bl.gif) no-repeat bottom left;}
#jcemediabox-popup-page.ie6 div.jcemediabox-tooltip .jcemediabox-tooltip-bottom-right{background:transparent url(../img/tip-br.gif) no-repeat bottom right;}
#jcemediabox-popup-page.idevice #jcemediabox-popup-container{margin-bottom:-1px;}