/**
* @version   $Id: mixins.less 4786 2012-10-30 22:35:01Z josh $
* @author    RocketTheme http://www.rockettheme.com
* @copyright Copyright (C) 2007 - 2012 RocketTheme, LLC
* @license   http://www.rockettheme.com/legal/license.php RocketTheme Proprietary Use License
*/

@import "utilities.less";
@import "dropdowns.less";
@import "popover.less";
@import "buttons.less";
/* Ellipsis */
.ellipsis() {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-text-overflow: ellipsis;
	-moz-text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
}

/* Gradient */
#rt-gradient {
	.horizontal-three-colors(@startColor: #00b3ee, @midColor: #7a43b6, @colorStop: 50%, @endColor: #c3325f) {
		background-color: mix(@midColor, @endColor, 80%);
		background-image: -webkit-gradient(linear, left top, right top, 0 0, 0 100%, from(@startColor), color-stop(@colorStop, @midColor), to(@endColor));
		background-image: -webkit-linear-gradient(left, @startColor, @midColor @colorStop, @endColor);
		background-image: -moz-linear-gradient(left, @startColor, @midColor @colorStop, @endColor);
		background-image: -ms-linear-gradient(left, @startColor, @midColor @colorStop, @endColor);
		background-image: -o-linear-gradient(left, @startColor, @midColor @colorStop, @endColor);
		background-image: linear-gradient(left, @startColor, @midColor @colorStop, @endColor);
		background-repeat: no-repeat;
		filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=1)",@startColor,@endColor)); // IE9 and down, gets no color-stop at all for proper fallback
	}
}

/* CSS Arrows */
#CSSArrow {
  .top(@arrowWidth: 5px, @arrowColor: @black, @arrowOffset: 0, @arrowPosition: 50%) {
	bottom: @arrowOffset;
	left: @arrowPosition;
	margin-left: -@arrowWidth;
	border-left: @arrowWidth solid transparent;
	border-right: @arrowWidth solid transparent;
	border-top: @arrowWidth solid @arrowColor;
  }
  .left(@arrowWidth: 5px, @arrowColor: @black, @arrowOffset: 0, @arrowPosition: 50%) {
	top: @arrowPosition;
	right: @arrowOffset;
	margin-top: -@arrowWidth;
	border-top: @arrowWidth solid transparent;
	border-bottom: @arrowWidth solid transparent;
	border-left: @arrowWidth solid @arrowColor;
  }
  .bottom(@arrowWidth: 5px, @arrowColor: @black, @arrowOffset: 0, @arrowPosition: 50%) {
	top: -@arrowOffset;
	left: @arrowPosition;
	margin-left: -@arrowWidth - 1;
	border-left: @arrowWidth solid transparent;
	border-right: @arrowWidth solid transparent;
	border-bottom: @arrowWidth solid @arrowColor;
  }
  .right(@arrowWidth: 5px, @arrowColor: @black, @arrowOffset: 0, @arrowPosition: 50%) {
	top: @arrowPosition;
	left: @arrowOffset;
	margin-top: -@arrowWidth;
	border-top: @arrowWidth solid transparent;
	border-bottom: @arrowWidth solid transparent;
	border-right: @arrowWidth solid @arrowColor;
  }
}

// Hex to RGBA
.rgba-background(@hex, @alpha: 0.8){
	@alphaColour: hsla(hue(@hex), saturation(@hex), lightness(@hex), @alpha);
    @ieAlphaColour: argb(@alphaColour);
     
    background-color: @hex;
    background-color: @alphaColour; 
     
    background-color: transparent\9;
    -ms-filter:  "progid:DXImageTransform.Microsoft.gradient(startColorstr=@{ieAlphaColour}, endColorstr=@{ieAlphaColour})";
}
.rgba-border(@color: @white, @alpha: 1){
	border-color: hsla(hue(@color), saturation(@color), lightness(@color), @alpha);
}