/**
* @version   $Id: utilities.less 4034 2012-10-01 17:52:33Z kevin $
* @author    RocketTheme http://www.rockettheme.com
* @copyright Copyright (C) 2007 - 2012 RocketTheme, LLC
* @license   http://www.rockettheme.com/legal/license.php RocketTheme Proprietary Use License
*/

.rok-left {
  float: left;
}
.rok-right {
  float: right;
}
