/**
* @version   $Id: 1200fixed.less 4879 2012-11-01 01:34:18Z kevin $
* @author    RocketTheme http://www.rockettheme.com
* @copyright Copyright (C) 2007 - 2012 RocketTheme, LLC
* @license   http://www.rockettheme.com/legal/license.php RocketTheme Proprietary Use License
*/

body {
	padding-left: 0;
	padding-right: 0;

	#rt-page-surround {
		overflow: visible;
	}

	/* Grid Layout */
	.rt-container {
		width: 1200px;
		margin: 0 auto;
		position: relative;
		.rt-grid-1 {
			width: 100px;
		}
		.rt-grid-2 {
			width: 200px;
		}
		.rt-grid-3 {
			width: 300px;
		}
		.rt-grid-4 {
			width: 400px;
		}
		.rt-grid-5 {
			width: 500px;
		}
		.rt-grid-6 {
			width: 600px;
		}
		.rt-grid-7 {
			width: 700px;
		}
		.rt-grid-8 {
			width: 800px;
		}
		.rt-grid-9 {
			width: 900px;
		}
		.rt-grid-10 {
			width: 1000px;
		}
		.rt-grid-11 {
			width: 1100px;
		}
		.rt-grid-12 {
			width: 1200px;
		}

		.rt-push-1 {
			left: 100px;
		}
		.rt-push-2 {
			left: 200px;
		}
		.rt-push-3 {
			left: 300px;
		}
		.rt-push-4 {
			left: 400px;
		}
		.rt-push-5 {
			left: 500px;
		}
		.rt-push-6 {
			left: 600px;
		}
		.rt-push-7 {
			left: 700px;
		}
		.rt-push-8 {
			left: 800px;
		}
		.rt-push-9 {
			left: 900px;
		}
		.rt-push-10 {
			left: 1000px;
		}
		.rt-push-11 {
			left: 1100px;
		}

		.rt-pull-1 {
			left: -100px;
		}
		.rt-pull-2 {
			left: -200px;
		}
		.rt-pull-3 {
			left: -300px;
		}
		.rt-pull-4 {
			left: -400px;
		}
		.rt-pull-5 {
			left: -500px;
		}
		.rt-pull-6 {
			left: -600px;
		}
		.rt-pull-7 {
			left: -700px;
		}
		.rt-pull-8 {
			left: -800px;
		}
		.rt-pull-9 {
			left: -900px;
		}
		.rt-pull-10 {
			left: -1000px;
		}
		.rt-pull-11 {
			left: -1100px;
		}

		.rt-prefix-1 {
			padding-left: 100px;
		}
		.rt-prefix-2 {
			padding-left: 200px;
		}
		.rt-prefix-3 {
			padding-left: 300px;
		}
		.rt-prefix-4 {
			padding-left: 400px;
		}
		.rt-prefix-5 {
			padding-left: 500px;
		}
		.rt-prefix-6 {
			padding-left: 600px;
		}
		.rt-prefix-7 {
			padding-left: 700px;
		}
		.rt-prefix-8 {
			padding-left: 800px;
		}
		.rt-prefix-9 {
			padding-left: 900px;
		}
		.rt-prefix-10 {
			padding-left: 1000px;
		}
		.rt-prefix-11 {
			padding-left: 1100px;
		}
	}
}

body .rt-container [class*="rt-grid"] {
	display: inline;
	float: left;
}
#rts h2 {position: absolute;top: 0px; left: -6300px;}
.rt-menu-mobile {
	display: none !important;
}

@media (max-width: 1345px) {
	.rt-social-buttons {
		display: none;
	}
}
