/**
* @version   $Id: 960fixed.less 4878 2012-11-01 01:32:28Z kevin $
* @author    RocketTheme http://www.rockettheme.com
* @copyright Copyright (C) 2007 - 2012 RocketTheme, LLC
* @license   http://www.rockettheme.com/legal/license.php RocketTheme Proprietary Use License
*/

body {
	padding-left: 0;
	padding-right: 0;

	#rt-page-surround {
		overflow: visible;
	}

	/* Grid Layout */
	.rt-container {
		width: 960px;
		.rt-grid-1 {
			width: 80px;
		}
		.rt-grid-2 {
			width: 160px;
		}
		.rt-grid-3 {
			width: 240px;
		}
		.rt-grid-4 {
			width: 320px;
		}
		.rt-grid-5 {
			width: 400px;
		}
		.rt-grid-6 {
			width: 480px;
		}
		.rt-grid-7 {
			width: 560px;
		}
		.rt-grid-8 {
			width: 640px;
		}
		.rt-grid-9 {
			width: 720px;
		}
		.rt-grid-10 {
			width: 800px;
		}
		.rt-grid-11 {
			width: 880px;
		}
		.rt-grid-12 {
			width: 960px;
		}

		.rt-push-1 {
			left: 80px;
		}
		.rt-push-2 {
			left: 160px;
		}
		.rt-push-3 {
			left: 240px;
		}
		.rt-push-4 {
			left: 320px;
		}
		.rt-push-5 {
			left: 400px;
		}
		.rt-push-6 {
			left: 480px;
		}
		.rt-push-7 {
			left: 560px;
		}
		.rt-push-8 {
			left: 640px;
		}
		.rt-push-9 {
			left: 720px;
		}
		.rt-push-10 {
			left: 800px;
		}
		.rt-push-11 {
			left: 880px;
		}

		.rt-pull-1 {
			left: -80px;
		}
		.rt-pull-2 {
			left: -160px;
		}
		.rt-pull-3 {
			left: -240px;
		}
		.rt-pull-4 {
			left: -320px;
		}
		.rt-pull-5 {
			left: -400px;
		}
		.rt-pull-6 {
			left: -480px;
		}
		.rt-pull-7 {
			left: -560px;
		}
		.rt-pull-8 {
			left: -640px;
		}
		.rt-pull-9 {
			left: -720px;
		}
		.rt-pull-10 {
			left: -800px;
		}
		.rt-pull-11 {
			left: -880px;
		}

		.rt-prefix-1 {
			padding-left: 80px;
		}
		.rt-prefix-2 {
			padding-left: 160px;
		}
		.rt-prefix-3 {
			padding-left: 240px;
		}
		.rt-prefix-4 {
			padding-left: 320px;
		}
		.rt-prefix-5 {
			padding-left: 400px;
		}
		.rt-prefix-6 {
			padding-left: 480px;
		}
		.rt-prefix-7 {
			padding-left: 560px;
		}
		.rt-prefix-8 {
			padding-left: 640px;
		}
		.rt-prefix-9 {
			padding-left: 720px;
		}
		.rt-prefix-10 {
			padding-left: 800px;
		}
		.rt-prefix-11 {
			padding-left: 880px;
		}
	}
}

body .rt-container [class*="rt-grid"] {
	display: inline;
	float: left;
}

.rt-menu-mobile {
	display: none !important;
}

.visible-large {display: none !important;}
.hidden-large {display: inherit !important;}
.visible-desktop {display: inherit !important;}
.hidden-desktop {display: none !important;}

// Core
.title, .component-content h2 {
	font-size: 2.4em;
}

// Module Variations
.rt-block.icon-large[class^="icon-"]:before, .rt-block.icon-large[class*=" icon-"]:before {
	font-size: 9em;
}

// RokSprocket - Features - Showcase
body .layout-showcase {
	.sprocket-features-content {
		width: 30%;
	}
	.sprocket-features-img-container {
		width: 66%;
	}
	.sprocket-features-title {
		font-size: 260%;
	}
	.sprocket-features-desc {
		margin-top: 15px;
		> span {
			font-size: 1em;
		}
	}
	.sprocket-features-pagination {
		li {
			width: 24px;
			height: 24px;
			span {
				line-height: 24px;
			}
		}
	}
	.sprocket-features-arrows {
		bottom: 55px;
	}
}

// Demo Styles
body .promo1 {font-size: 350%;}
body .promo2 {font-size: 300%;}
body .promo3 {font-size: 150%;}
#rts h2 {position: absolute;top: 0px; left: -6300px;}
body .rt-image-description {
	span {
		margin-top: 15px;
	}
	.rt-big-icon {
		font-size: 5.5em;
	}
	h4 {
		font-size: 2em;
		margin-top: 10px;
	}
	p {
		font-size: 1.2em;
	}
}

@media (max-width: 1085px) {
	.rt-social-buttons {
		display: none;
	}
}
