/**
* @version   $Id: error.less 4958 2012-11-01 16:36:00Z kevin $
* @author    RocketTheme http://www.rockettheme.com
* @copyright Copyright (C) 2007 - 2012 RocketTheme, LLC
* @license   http://www.rockettheme.com/legal/license.php RocketTheme Proprietary Use License
*/
#rt-error-page {
	.rt-social-buttons {
		display: none !important;
	}
	#rt-copyright {
		text-align: center;
	}
}

.rt-error-content {
	margin: 15px auto;
	width: auto;
}

.rt-error-content {
	.box-shadow(~'0 2px 3px rgba(0, 0, 0, 0.2), 0 0 1px rgba(0, 0, 0, 0.2)');
}


@media only screen and (min-width: 768px) and (max-width: 959px) {
	.error-title {
		font-size: 1.8em;
	}
}

@media only screen and (min-width: 481px) and (max-width: 767px) {
	.error-title {
		font-size: 1.8em;
	}
}

@media only screen and (max-width: 480px) {
	.error-title {
		font-size: 1.6em;
	}
}
