/**
* @version   $Id: prettify.less 4845 2012-10-31 18:38:07Z rhuk $
* @author    RocketTheme http://www.rockettheme.com
* @copyright Copyright (C) 2007 - 2012 RocketTheme, LLC
* @license   http://www.rockettheme.com/legal/license.php RocketTheme Proprietary Use License
*/

.com { color: #93a1a1; }
.lit { color: #195f91; }
.pun, .opn, .clo { color: #93a1a1; }
.fun { color: #dc322f; }
.str, .atv { color: #dd1144; }
.kwd, .linenums .tag { color: #1e347b; }
.typ, .atn, .dec, .var { color: teal; }
.pln { color: #48484c; }

.prettyprint {
  padding: 8px;
  background-color: @white;
  border: 1px solid @bodyBorder;
}
.prettyprint.linenums {
  @box-shadow: 40px 0 0 @offwhite inset, 41px 0 0 @bodyBorder inset;
  .box-shadow(@box-shadow);
}

ol.linenums {
  margin: 0 0 0 33px;
  padding-left: 0;
}
ol.linenums li {
  padding-left: 12px;
  color: @light-grey;
  line-height: 18px;
  text-shadow: 0 1px 0 @white;
}
