body{
	margin: 0;
	padding: 0;
}
#calculatedForm{

	padding: 10px 40px 30px 40px;
	/*border: 1px solid #f2993a;
    box-shadow:
        0pt 2px 5px #b36802,
        0px 0px 10px 9px #f0a238 inset;
    border-radius: 5px;*/
}

#calculatedForm h1{
	font-size: 1.5em;
	color: #858383;
	/*padding-bottom: 5px;*/
}
#calculatedForm h1:after{
    content:' ';
    display:block;
    width:100%;
    height:2px;
   margin-top:5px;
    
}
#calculatedForm input:not([type="checkbox"]):not([type="file"]):not([type="submit"]):not([type="radio"]), textarea{
    width: 50%;
    margin-top: 5px;
    padding: 5px 2px 5px 5px;
    border: 1px solid rgb(178, 178, 178);
    box-sizing : content-box;
    border-radius: 3px;
    box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
    transition: all 0.2s linear;
}

#calculatedForm p{
	color: #858383;
	margin-bottom: 0;
}

#calculatedForm p.butt input{
    width: 150px;
    cursor: pointer;
    background: #e24d05;
    padding: 5px 4px;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    color: #fff;
    font-size: 20px;
    border: 1px solid #df4e08;
    margin-bottom: 5px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    box-shadow:
        0px 1px 6px 4px rgba(0, 0, 0, 0.07) inset,
        0px 0px 0px 3px rgb(254, 254, 254),
        0px 5px 3px 3px rgb(210, 210, 210);
    transition: all 0.2s linear;
}
#calculatedForm p.butt input:hover{
    background: #e0713b;
}
#calculatedForm p.butt input:active,
#calculatedForm p.butt input:focus{
    background: #df4e08;
    position: relative;
    top: 1px;
    border: 1px solid #df4e08;
    box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.2) inset;
}

p.butt{
    text-align: right;
    margin: 5px 0;
}