.table {
	border-spacing: 2px;
	border-collapse: separate;
}

.table td, .table  th {
    background: none repeat scroll 0 0 #ECECEC;
    padding: 2px 5px;
}

.table  th {
	text-align: center;
	font-weight: bold;
}

.menu li {
	display: inline;
	margin: 3px 10px;
}

.menu ul {
	padding: 0;
}

a.selected {
	text-decoration: none;
	font-weight: bold;
	color: #000;
}



body {
	background: #fff;
	font-size: 18px;
	line-height: 1.5;
	font-family: Arial, Tahoma, Verdana, sans-serif;
	color: #333;
}

h1 {
    font-weight: 400;
    text-align: center;
}

textarea {
	font-family: Arial, Tahoma, Verdana, sans-serif;
}

a {
	color: #1c150c;
}

a:hover {
	color: #000;
	text-decoration: none;
}

.error {
	color: #f00;
}