.qfblock {
	text-align: left;
	padding: 10px 0;
	color: #666;
}
.qfblock div {
	padding: 6px 0;
}
.qfblock label {
	text-align: right;
	padding: 0 20px 0 0;
	display: inline-block;
	width: 40%;
}
.qfblock textarea {
	vertical-align: top;
}
.qfradio input {
	margin: 0 10px 0 5px !important;
	vertical-align: central;
}
.qfsubmit input {
	padding: 1px 10px;
}
.qfprice {
	font-weight: bold;
}
.qflink {
	text-align: right;
}
.qflink a {
	color: #CCC !important;
	font-size: 10px !important;
}
.nfl {
	display: none;
}
.qfblock div input {
	display: inline-block;
	float: none;
	margin: 0;
}
